# BDD LINK (SUPABASE)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# AI CEREBRAS CLOUD
VITE_CC_API_KEY_1=
VITE_CC_API_KEY_2=
VITE_CC_API_KEY_3=
VITE_CC_API_KEY_4=
VITE_CC_API_KEY_5=

# AI HUGGING FACE
VITE_HF_API_KEY_1=